<div class="w-100 app" id="app">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-5 col-md-4">
                <img src="./../assets/img/logo.png" class="img-fluid">
            </div>
            <div class="col-7 col-md-4">
                <div class="row h-100 align-items-center pedido">
                    <a href="#"><span>Faça seu pedido online e te enviamos por delivery!</span></a>
                </div>
            </div>
            <div class="col-md-4" fxHide.xs>
                <div class="row h-100 align-items-center">
                    <span>Avenida Itapark, 3391 - Jardim Itapark, Mauá - SP</span>
                </div>
            </div>
        </div>
    </div>
</div>