<div class="container py-md-4 presentation">
    <div class="text-center">
        <h1>A qualquer hora, em todo o ABC Paulista</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>Construímos essa plataforma totalmente online para que com rapidez e praticidade
                você consiga solicitar-nos o serviço desejado e definir qual a prioridade dele, para que 
                assim possamos atendê-lo no tempo que você precisa e na comodidade que você merece através do nosso delivery.
            </p>
            <p>
                Ah! E não se preocupe. Caso você more um pouco mais distante lhe informaremos o valor do frete no ato da solicitação do serviço.
                Assim você terá controle total do que você precisa e do valor a ser pago no final.
            </p>
            <h2>Precisa de um serviço? Clique no botão para solicitar agora mesmo!</h2>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="./../../../assets/img/chaveiro.png">
        </div>
    </div>
    <div class="col-12 text-center pt-md-5 pt-4">
        <button class="btn btn-theme">Solicitar serviço</button>
    </div>
</div>