<div class="container-fluid presentation">
    <div class="text-center py-5 mt-md-3" data-anime="right">
        <h1>A qualquer hora, em todo o ABC Paulista</h1>
    </div>
    <div class="row px-5">
        <div class="col-12 col-md-6" data-anime="left">
            <p>Construímos essa plataforma totalmente online para que
               você consiga solicitar-nos o serviço desejado e definir qual a prioridade dele. Assim podemos atendê-lo no tempo que você precisa e na comodidade que você merece através do nosso delivery.
            </p>
            <p>
                Ah! E não se preocupe. Caso você more um pouco mais distante lhe informaremos o valor do frete no ato da solicitação do serviço.
                Assim você terá controle total do valor a ser pago.
            </p>
            <h2><b>Precisa de um serviço? Clique no botão para solicitar agora mesmo!</b></h2>
        </div>
        <div class="col-12 col-md-6" data-anime="right">
            <carousel [autoplay]="mobileQuery.matches ? false : true" autoplayInterval=2000 cellsToShow=1 loop="true"
                    height=340 transitionDuration=600 style="z-index: 1 !important;">
                    <div class="carousel-cell" *ngFor="let image of images">
                        <img [src]="image.path">
                    </div>
            </carousel>
        </div>
    </div>
    <div class="col-12 text-center pt-md-5 pt-4" data-anime="bottom">
        <button class="btn btn-theme">Solicitar serviço</button>
    </div>
</div>