<div class="example-container example-is-mobile mt-2 mt-md-5 menu">
    <mat-toolbar class="example-toolbar mat-elevation-z3 initial" fxLayout="row" id="initial">
        <div class="w-100 t">
            <div *ngFor="let rota of rotas" fxHide.xs>
                <a [routerLink]="rota.url" routerLinkActive="active" class="ms-4 me-4 link">
                    {{ rota.text }}
                </a>
            </div>
        </div>
        <a mat-icon-button fxHide fxShow.xs>
            <mat-icon>more_vert</mat-icon> 
        </a>
        <button mat-raised-button class="btn" fxHide.xs>
            Entrar
        </button>
    </mat-toolbar>
</div>