.menu{
    position: relative;
    margin-top: 6rem !important;
}

@media screen and (max-width: 550px){
    .menu{
        margin-top: 4.8rem !important;
    }
}

@media screen and (max-width: 400px){
    .menu{
        margin-top: 4rem !important;
    }
}

@media screen and (max-width: 300px){
    .menu{
        margin-top: 2.9rem !important;
    }
}

.initial{
    background-color: white;
    transition: transform 0.35s !important;
    position: fixed;
    z-index: 50;
}
.link {
    color: gray !important;
    font-size: 15px !important;
    text-decoration: none;
    transition: all 0.75s;
}

.link:hover {
    color: rgba(143, 96, 156, 1) !important;
}
.t{
    display: flex;
    text-align: center;
}
button{
    color: gray;
}