<div class="whatsapp py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h1>
                    Gostou?
                </h1>
                <p>
                    Quer conhecer os serviços e preços com um funcionário?<br>
                    Entre em contato conosco agora mesmo pelo WhatsApp!
                </p>
            </div>
            <div class="col-12 col-md-5 text-center">
                <!--div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center"-->
                        <button class="btn btn-theme mt-5" (click)="whatsapp()">
                            <div style="display: flex;">
                                <img class="img-fluid d-none d-md-block me-3" src="./../../../assets/img/Icone_whatsapp.png" width="30">
                                Chamar no WhatsApp
                            </div>
                        </button>
                    <!--/div>
                  </div-->
            </div>
        </div>
    </div>
</div>