<div class="container-fluid py-5 home">
    <div class="container anima">
        <div class="row py-5">
            <p>Nosso serviço é</p>
            <p class="texto a">Confiável</p>
            <p class="texto b">Ágil</p>
            <p class="texto c">Seguro</p>
            <p class="texto d">Eficiente</p>
            <p class="texto e">Econômico</p>
        </div>
        <carousel autoplay="true" autoplayInterval=2000  [cellsToShow]="mobileQuery.matches ? 1 : 2" loop="true" height=400 transitionDuration=600>
            <div class="carousel-cell" *ngFor="let image of images">
                <img [src]="image.path">
            </div>
        </carousel>
    </div>
</div>
