.home{
    overflow: hidden;
    position: relative;
    top: 2rem;
}
.anima{
    position: relative;
    font-size: 2.3rem;
    background: white !important;
}
h4{
    font-size: 1.2rem;
    color: gray;
}

.texto {
    font-size: 2.3rem;    
    opacity: 0;
    animation: fader 10s infinite;
    position: absolute;
    left: 18.1rem;
    top: 3rem;
    color: blue;
}

@media screen and (max-width: 400px){
    .texto{
        left: 0;
        top: 6rem;
    }
}

.a {
    animation-delay: 0s;    
}
.b {
    animation-delay: 2s;
}
.c {
    animation-delay: 4s;
}
.d {
    animation-delay: 6s;
}
.e {
    animation-delay: 8s;
}

@keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}