<div class="cart position-fixed p-0 pr-1 m-2 col-3 col-sm-3 col-md-1 col-lg-1 text-center">
    <div *ngIf="!isWidget" class="row no-gutters" [@spin]>
        <a matTooltip="Messenger" href="https://www.facebook.com/chaveiro.agustinho" target="_blank" class="col-12 px-3">
            <img width="80" src="./../../../../assets/img/home/messenger.png" alt="">
        </a>
        <a matTooltip="Email" href="https://www.facebook.com/facaacordo" target="_blank" class="col-12 px-3">
            <img width="80" src="./../../../../assets/img/home/email.png" alt="">
        </a>
        <a matTooltip="WhatsApp" href="https://api.whatsapp.com/send?phone=5511937453307&text=Ol%C3%A1%2C%20gostaria%20de%20entrar%20em%20contato!" target="_blank" class="col-12 px-3">
            <img width="80" src="./../../../../assets/img/home/whatsapp.png" alt="">
        </a>
    </div>
    <button mat-fab aria-label="Seu carrinho de compras" class="m-4" (click)="openWidget()">
        <mat-icon>help_outline</mat-icon>
    </button>
    <div class="help">
        
    </div>
</div>